# Default
*                   text=auto

# Scripts
*.php               text diff=php

# Configuration
*.json              text
.gitattributes      text
.gitignore          text

# Documentation
*.md                text diff=markdown
*.png               binary
